{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h2>Documentation de l'API sur /doc</h2>
    <a href="/doc">documentation de l'api</a>
{% endblock %}
